@keyframes fadeUp {
  0% {
    opacity: 0;
    bottom: -1em;
  }
  100% {
    opacity: 1;
    bottom: 0em;
  }
}

.nav-fade-enter-active,
.nav-fade-leave-active {
  transition: all 0.2s ease;
}

.nav-fade-enter-from,
.nav-fade-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.nav-fade-enter-to,
.nav-fade-level-from {
  opacity: 1;
  transform: translateY(0);
}
